<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ScreenSoap" allowCookies="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://erp.eastus.cloudapp.azure.com/Soap/BOTFRAMEWORK.asmx"
          binding="basicHttpBinding" bindingConfiguration="ScreenSoap"
          contract="webapi.ScreenSoap" name="ScreenSoap" />
    </client>
  </system.serviceModel>
</configuration>